<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learn.learn">

    <!--    首先需要AndroidManifest.xml文件中添加操作蓝牙的权限。-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--    允许程序连接到已配对的蓝牙设备。-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".app.LearnApp"
        android:icon="@mipmap/ic_launcher"
        android:label="learn"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity
            android:name="com.learn.learn.MainActivity"
            android:configChanges="orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--     DiskLruCache的使用   -->
        <activity android:name=".cache.DiskLruCacheActivity" />
        <!-- viewpager实现广告页 -->
        <activity android:name="com.learn.learn.bassis.viewpager.ViewpagerActivity" />
        <!-- room的使用 -->
        <activity android:name="com.learn.learn.room.RoomActivity" />
        <!-- 获取联系人 -->
        <!-- kotlin使用 -->
        <activity android:name="com.learn.learn.kotlin.MainActivity" />
        <!-- 设置模式 -->
        <activity android:name="com.learn.learn.设计模式.PatternActivity" />
        <!--   jetpack的lifecycler的使用     -->
        <activity android:name=".jetpack.LifecycleLearnActivity" />
        <!--        eventbus -->
        <activity android:name=".eventbus.EventBusActivity" />

        <activity android:name=".bassis.broadcast.binder.MainActivity"/>
        <service android:name=".bassis.broadcast.binder.MsgService"/>
        <!--    蓝牙的使用    -->
        <activity android:name=".bassis.蓝牙.MainActivity" />

        <activity android:name=".插件化宿主首页.MainActivity"/>
        <activity android:name=".插件化宿主首页.ProxyActivity"/>
    </application>

</manifest>