<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.learn.learn">

    <!--    首先需要AndroidManifest.xml文件中添加操作蓝牙的权限。-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--    允许程序连接到已配对的蓝牙设备。-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.learn.learn.MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape">

        </activity>

        <!--BroadcastReceiver广播实现跨进程数据交互-->
        <service android:name="com.learn.learn.bassis.broadcast.MsgService"></service>
        <activity android:name="com.learn.learn.bassis.broadcast.MainActivity" />

        <!--binder跨进程数据交互-->
        <service android:name="com.learn.learn.bassis.broadcast.binder.MsgService"></service>
        <activity android:name="com.learn.learn.bassis.broadcast.binder.MainActivity" />

        <!--content provider实现-->
        <provider
            android:name="com.learn.learn.bassis.provider.MyProvider"
            android:authorities="cn.scu.myprovider" />
        <activity
            android:name="com.learn.learn.bassis.provider.ProviderActivity"
            tools:ignore="DuplicateActivity" />
        <!-- fragment使用 -->
        <activity android:name="com.learn.learn.bassis.fragment.FragmentActivity">
            <!-- 隐式调用 -->
            <!--   scheme://host:port/path|pathPrefix|pathPattern         -->
            <!--       Intent intent = new Intent();
                    intent.setAction("com.learn.action.enter");
                    intent.setData(Uri.parse("learn1://learn.com:8888/first?message=Hello FirstActivity"));
                    startActivity(intent);       -->
            <intent-filter>
                <action android:name="com.learn.action.enter" />
                <action android:name="com.learn.action.enter1" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />

                <data
                    android:host="learn.com"
                    android:path="/first"
                    android:port="8888"
                    android:scheme="learn1" />
            </intent-filter>
        </activity>
        <!-- viewpager实现广告页 -->
        <activity android:name="com.learn.learn.bassis.viewpager.ViewpagerActivity" />
        <!-- room的使用 -->
        <activity android:name="com.learn.learn.room.RoomActivity" />
        <!-- 获取联系人 -->
        <!-- kotlin使用 -->
        <activity android:name="com.learn.learn.kotlin.MainActivity" />
        <!-- 设置模式 -->
        <activity android:name="com.learn.learn.设计模式.PatternActivity" />
        <!--     DiskLruCache的使用   -->
        <activity android:name=".cache.DiskLruCacheActivity" />
        <!--   jetpack的lifecycler的使用     -->
        <activity android:name=".jetpack.LifecycleLearnActivity" />
        <!--        eventbus -->
        <activity android:name=".eventbus.EventBusActivity" />
        <!--    蓝牙的使用    -->
        <activity android:name=".bassis.蓝牙.MainActivity" />
        <activity android:name=".插件化宿主首页.MainActivity"/>
        <activity android:name=".插件化宿主首页.ProxyActivity"/>
    </application>

</manifest>